:root {
  --color-primary: #008fd6;
}

body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #008fd6 3px solid;
  opacity: 0.8;
}

/* HOME SECTION */
#home-section {
  background: url(../img/home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
  /* REMEMBER */
  /* fixed background img */

  min-height: 700px;
  position: relative;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
}

#home-section .fas,
#create-section .fas {
  color: var(--color-primary);
  background: white;
  padding: 5px;
  border-radius: 5px;
}

/* EXPLORE SECTION */
#explore-section .fas,
#share-section .fas {
  background: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
